body {
  margin: 0;
}

.nav-item {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  padding: 8px;
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
}

.nav-item:focus, .nav-item:hover, .nav-item-active {
  color: var(--theme-ui-colors-primary, #448aff);
}

@media screen and (min-width: 40em) {
  .nav-item {
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (min-width: 52em) {
  .nav-item {
    font-size: 20px;
  }
}


.divider {
  border-top: 1px solid rgba(34,36,38,.15);
  border-bottom: 1px solid rgba(255,255,255,.1);
  margin: 1rem 0;
  line-height: 1;
  height: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: rgba(0,0,0,.85);
}
